/**-----------MAIN--------------**/
html{
    background-color: var(--GrisClaro);
}

main{
    margin: 0 auto;
    padding: 2rem 0;
}

.registro{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.registro input[type="text"], input[type="email"],input[type="password"],input[type="date"]{
    height: 2rem;
    border: none;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.registro section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.registro .perfil{
    display: flex;
    flex-direction: row;
}

.registro section label{
    display: flex;
    padding-left: 2rem;
    align-items: center;
    column-gap: 2rem;
}

.registro button{
    height: 2rem;
    color: white;
    background-color: var(--Celeste);
    border-radius: 0.4rem;
    border: none;
}

.registro button:hover{
    background-color: #2072ef;
}


/**------------------------------**/

@media (max-width:600px){
    main{
        width: 90%;
    }
}

@media (min-width:600px){

    main{
        width:50%;
    }
}